---
import Layout from '../layouts/Layout.astro';
import LoremIpsum from '../components/loremipsum.astro';
---

<Layout>
        <div class="hero">
            <div class="hero-text">Commercial AV for the London Area</div>
        </div>
        <div class="container">
            <LoremIpsum count="0" />
        </div>
</Layout>
<style>
    .hero {
        position: relative;
        height: 40dvh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("hero.jpg");
    }
    .hero-text {
        text-align: center;
        position: relative;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 72px;
        text-shadow: -2px -2px 8px #404040, 2px 2px 8px #404040;
        font-family: 'Decker';
    }
</style>