---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-header"><Header /></div>			
			<div class="grid-body"><slot /></div>	
			<div class="grid-footer"><Footer /></div>	
		</div>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
	}
	.grid-container {
		display: grid;
		grid-template-rows: auto 1fr auto;
		min-height: 100dvh;
	}
	.container {
		max-width: 1120px;
		margin: 0 auto;
	}
	.hero {
		width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("hero.jpg");
	}
	* {		
        font-family: 'Oxygen', sans-serif;
        font-size: 18px;
        color: #434343;
	}
	a {
		text-decoration: none;
	}
    @font-face {
        font-family: Decker;
        src: url(Decker.ttf);
    }
</style>
